/* Header.css */
.navbar {
    background-color: #333;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-brand:hover {
    color: red;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 1px;
  }
  
  .nav-link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: ;
    color: #e74c3c;
  }
  
  .logout-btn, .home-btn, .forum-btn {
    background-color: #e74c3c;
    color: #e74c3c;
    font-size: 1rem;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .logout-btn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
  
    .nav-link {
      margin: 10px 0;
    }
  }
  